#main h2 + hr { margin-bottom: 2px;}
#main h3 {
    margin-top: 0;
    margin-bottom: 0;
}
#main h3 a {
    color: black;
    text-decoration: underline;
}
#main h3 a:hover { color: #333; }

#main > table td {
    vertical-align: top;
}

#posts > div { margin-right: 25px; }

div.post {
    margin-top: 10px;
    margin-bottom: 25px;
    background-color: #f6f6b3;
    padding: 17px;
    padding-bottom: 25px;
    text-align: justify;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
}

#sideboxes { padding-top: 30px; }

div.box {
    border: 1px solid green;
    margin-bottom: 50px;
    background-color: #fbfbb8;
}

#sideboxes div.box table tr td {
    font-size: 13px;
    padding-left: 5px;
}

#sideboxes div.box table tr td:first-child { width: 100%; }
#sideboxes div.box table { padding: 5px; }

div.box h3 {
    text-align: center;
    border: 3px outset silver;
    background-color: #e4e4a1;
    padding: 3px;
    font-variant: small-caps;
}

div.date, div.tags {
    color: #333;
    font-size: 12px;
}

div.tags {
    margin-top: 0;
    margin-bottom: 10px;
}

#main div.tags a { color: black; }

ul.tags li { float: left; }

h3 { margin-bottom: 8px }
h3 + p { margin-top: 0}
p { margin: 5px 0 }

span.update { font-weight: bold; }

dt { font-weight: bold; }
dd { margin-bottom: 8px; }

div.comment span.author {
    font-size: 14px;
    font-weight: bold;
}

div.comment {
    background-color: #cbcb88;
    border-color: black;
    padding: 10px;
}

span.more { float: left; }
span.comments { float: right; }

#errors {
    border: 1px solid red;
    background-color: #fcc;
    padding: 10px;
    color: red;
    font-weight: bold;
    margin: 10px;
}

/* Emacs htmlize CSS */
/* Colortheme: Robin Hood */
pre {
    color: #ffdead;
    background-color: #304020;
    padding: 10px;
    border: 1px dashed #ddd;
}
pre .builtin {
    /* font-lock-builtin-face */
    color: #98fb98;
    font-weight: bold;
}
pre .comment, pre .comment-delimiter {
    /* font-lock-comment-face */
    color: #add8e6;
}
pre .function-name {
    /* font-lock-function-name-face */
    color: #7fffd4;
    font-weight: bold;
}
pre .keyword {
    /* font-lock-keyword-face */
    color: #fa8072;
}
pre .string {
    /* font-lock-string-face */
    color: #ffa07a;
}
pre .type {
    /* font-lock-type-face */
    color: #9acd32;
    font-weight: bold;
}
pre .variable-name {
    /* font-lock-variable-name-face */
    color: #7fffd4;
    font-weight: bold;
}
pre a {
    color: inherit;
    background-color: inherit;
    font: inherit;
    text-decoration: inherit;
}
pre a:hover {
    text-decoration: underline;
}
