body {
    margin: 0;
    padding: 0;
    font-family: "Lucida Grande",Verdana,"Bitstream Vera Sans",Arial,sans-serif;
    background-color: #acac75;
}

div.wrapper {
    clear: both;
    margin: 0 auto;
    max-width: 82%;
}

#header {
    background-repeat: repeat-x;
    height: 170px;
    width: 100%;
    min-width: 1000px;
    margin: auto;
    border-bottom: 3px ridge silver;
}

#header img { float: left; }

#header ul {
    list-style-type: none;
    margin-top: 30px;
    float: right;
}

#header ul li {
    float: left;
    font-size: 14px;
    font-weight: bold;
    padding: 5px 8px;
    margin: 0 5px;
}

#header ul li.current {
    background-color: #343434;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

#header ul li a {
    color: #272;
    text-decoration: none;
}

#header ul li a:hover { color: white; }

#quote tr {
    font-weight: bold;
    height: 100px;
    font-size: 14px;
    text-align: right;
    color: #ffffb3;
}

#quote div { margin: 0px; }
#quote div.author {
    margin-top: 8px;
    font-weight: normal;
}
#quote a { color: #ffffb3; }

#main {
    margin: auto;
    margin-top: 20px;
    padding: 20px 30px;
    background-color: #ffffbe;
    border: 1px dashed #5dd244;
    text-align: justify;
    width: 80%;
    font-size: 13px;
}

#main div { font-size: 13px; }

#main a {
    color: #090;
    font-weight: bold;
    text-decoration: none;
    font-family: monospace;
}

#main a:hover { text-decoration: underline; }

div.author {
    text-align: right;
    font-style: italic;
    margin-top: 20px;
}

#main div.author { margin-bottom: 20px }

h2.page-title {
    margin-top: 0;
    margin-bottom: 0;
    float: left;
}
h2.page-title + hr {
    margin-bottom: 25px;
    clear: both;
}
#widgets { float: right; }
#widgets a { margin: 5px; }

#contact {
    float: right;
    font-size: 12px;
    color: #888;
}

#license {
    color: #770;
    text-align: center;
    font-size: 12px;
    margin: auto;
    margin-top: 20px;
    padding: 20px;
    width: 78%;
}

#license a { color: #077; }
